@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: fixed;
    z-index: 100;
}

nav ul{ 
    list-style-type: none;
    padding: 10px;
    font-family:'Poppins', sans-serif;
    overflow: hidden;
}

.nav-item:hover{ 
    background: #FAACA8;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    border-radius: 10em;
}

.rose {
    background-color: #ffffff;
}

h2 { 
    color: black;
    padding: 30px;
    text-align: start;
    font-style: normal;
    font-family:'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
}

.presentation {
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 2rem;
    text-align: start;
}

.white-card{
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 2em;
    margin: 5em 10em 5em 10em;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
}

.white-card-tools{
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 2em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: inline-block;
    text-align: center;
    -webkit-box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
}

.card-projects {
    margin-bottom: 5em;
    padding: 1em;
}

.card1, .card2, .card3 {
    -webkit-box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
    overflow: hidden;
    cursor: default;
    transition: all 700ms ease;
}

.card1:hover, .card2:hover, .card3:hover {
    -webkit-box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
    box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 30%);
    transform:translateY(-5%)
}

.card-body {
    margin: 1em;
}

.second-title {
    color: black;
    text-align: center;
    padding: 10px;
    margin: 50px 70px 50px 80px;
    font-family:'Poppins', sans-serif;
    font-weight:bold;
}

.sonia-img {
    border-radius: 50%;
}

.tools {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 90px;
}

.design, .programacion {
    font-family:'Poppins', sans-serif;
}

.tool-icon {
    width: 75px;
    height: 50px;
}

.memo, .banco, .second {
    width: 350px;
    height: 280px;
    margin-right: 15px;
    margin-left: -15px;
}

.syllabus {
    font-family:'Poppins', sans-serif;
    list-style-type: disc;
    text-align: start;
    padding-left: 2rem;
}

.linkedin1 {
    width: 90x;
    height: 100px;
}

.gmail {
    width: 7em;
    height: 5.5em;
}

.social-networks-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.social-networks-list li {
    margin: 2em;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

.behance, .linkedin {
    width: 50px;
    height: 50px;
    margin: auto;
}

header .navbar-toggler.collapsed svg {
    transition: transform 0.5s;
    transform: rotate(180deg);
}

.navbar-toggler.collapsed {
    width: 100%;
    height: 2em;
    border: 0.5px solid #FFFFFF;
    transition: all 0.5s;
}

header .navbar-toggler {
    width: 100%;
    height: 2em;
    transition: all 0.5s;
    border: 0.5px solid #FFFFFF;
}


footer {
    background-color: #ffffff;
    padding: 1em 0;
    margin-top: auto;
}
