@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: $background;
    background-image: linear-gradient(90deg, rgba(127,209,244,1) 0%, rgba(245,150,193,1) 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}