@import "variableGlobal";
@import "general";
@import "navbar";

h2 {
    color: $color;
    padding: 15px;
    text-align: start;
    font-style: normal;
    font-family:'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: -15px;
}

.presentation {
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
    padding-left: -30x;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 5px;
    text-align: start;
}

.white-card{
    background-color: $bkgdcolor;
    border-radius: 50px;
    padding: 2em;
    margin: 5em 10em 5em 10em;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
}

.white-card-tools {
    background-color: $bkgdcolor;
    border-radius: 50px;
    padding: 2em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    @include sizes (300px,300px);
    display: inline-block;
    text-align: center;
    -webkit-box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
    
    .design, .programacion{
        font-family:'Poppins', sans-serif;
    }

}

.card-projects {
    margin-bottom: 5em;
    padding: 1em;
}

.card1, .card2, .card3 {
    -webkit-box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
    overflow: hidden;
    cursor: default;
    transition: all 700ms ease;

    &:hover {
        -webkit-box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 30%);
        box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 30%);
        transform:translateY(-5%)
    }
}

.card-body {
    margin: 1em;
}

.second-title {
    color: $color;
    text-align: center;
    padding: 10px;
    margin: 50px 70px 50px 80px;
    font-family:'Poppins', sans-serif;
    font-weight:bold;
}

.sonia-img {
    border-radius: 50%;
}

.tools {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 90px;
}

.tool-icon {
    @include sizes (74px,50px);
}

.memo, .banco, .second {
    @include sizes (350px , 280px);
    margin-right: 15px;
    margin-left: -15px;
}

.syllabus {
    font-family:'Poppins', sans-serif;
    list-style-type: disc;
    text-align: start;
    padding-left: 2rem;
}

.linkedin1 {
    @include sizes (100px,100px);
}

.gmail {
    @include sizes (7em,5.5em);
}

.social-networks-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    li {
        margin: 2em;
}

}

li {
    display: list-item;
}

.behance, .linkedin {
    @include sizes (50px,50px);
    margin: auto;
}

footer {
    background-color: $bkgdcolor;
    padding: 1em 0;
    margin-top: auto;
}